/* src/pages/EmployeeList/EmployeeList.css */
.employee-list-container {
  padding: 20px;
}

.add-new-button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.edit-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.remove-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.details-button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
